.CreativeAgencySection {
    width: 100%;
    padding-top: 140px;
    margin-bottom: 50px;
    background: linear-gradient(180deg, rgba(247,247,247,1) 80%, rgba(255,255,255,1) 100%);
}

.Container {
    max-width: 1920px;
    margin: auto;
    padding: 25px 0 110px 0;
}

.ContentContainer {
    grid-template-columns: 20.5% 32% 47.5%;
    grid-template-rows: 100%;
}

@media screen and (max-width: 1850px) {
    .ContentContainer {
        grid-template-columns: 17% 35.5% 47.5%;
    }
}

@media screen and (max-width: 1600px) {
    .ContentContainer {
        grid-template-columns: 14% 41% 45%;
    }
}

@media screen and (max-width: 1400px) {
    .Container {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 1380px) {
    .ContentContainer {
        grid-template-columns: 53% 47%;
    }
}

@media screen and (max-width: 1200px) {
    .ContentContainer {
        grid-template-columns: 70% 30%;
    }
}

@media screen and (max-width: 992px) {
    .Container {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 460px) {
    .ContentContainer {
        grid-template-columns: 100% 0;
    }
}