.Text:nth-of-type(1) {
    margin-right: 4.2%;
}

.Text, .Email, .Textarea {
    width: 100%;
}

.Text, .Email, .Textarea {
    margin-bottom: 30px;
}

.Textarea {
    border: 1px solid #c7c7c7;
    transition: border 1s;
}

.Textarea, 
.Textarea:placeholder-shown {
    color: #888888;
    padding: 20px 24px;
    font-family: Roboto;
    font-size: 14px;
    resize: none;
    outline: none;
    height: 178px;
}

.Text:nth-of-type(1) {
    width: 47.75%;
}

.Text:nth-of-type(2) {
    width: 47.75%;
}

@media screen and (max-width: 660px) {
    .Text:nth-of-type(1),
    .Text:nth-of-type(2) {
        width: 100%;
    }
}