.HeadTextBold h2 {
    color: #112e41;
    font-family: Poppins;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
}

@media screen and (max-width: 1400px) {
    .HeadTextBold h2 {
        font-size: 40px;
    }
}